.Login__Container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Login__Item__Header {
  font-weight: 450;
  font-size: larger;
  padding: 0 10px;
  flex-basis: 10%;
}

.Login__item__form {
  flex-basis: 40%;
}
#header__print {
  font-size: 32px;
}

.Item__Logo {
  width: 45px;
  height: 45px;
  margin: auto;
  padding: 10px;
  border-radius: 50%;
  background-color: #a00037;
}
form {
  margin-top: 10px;
}
.Login__form {
  margin: 10px;
}

input {
  height: 20px;
  margin: 2px 5px;
}

#label__Email {
  margin-top: 0%;
  margin-bottom: 2px;
}
.area__email {
  border-bottom: 1px solid rgb(45, 45, 45);

  /* border: 1px solid rgb(45, 45, 45);
    border-radius: 10px; 
    */
  padding: 5px 10px;
  width: 350px;
  height: 30px;
  margin: auto;
  font-size: larger;
  text-align: left;
}

#label__Email {
  color: rgb(110, 110, 110);
}

.area__pw {
  border-bottom: 1px solid rgb(45, 45, 45);

  /* border: 1px solid rgb(45, 45, 45);
    border-radius: 10px;  */

  padding: 5px 10px;
  width: 350px;
  height: 30px;
  margin: auto;
  font-size: larger;
  text-align: left;
}

#label__pw {
  color: rgb(110, 110, 110);
}

#Item__submit {
  background: #a00037;
  color: #fff;
  border: none;
  border-radius: 10px;
  height: 45px;
  width: 370px;
  font-size: 1.6em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  margin-top: 20px;

  /* background:#fff;
    color:#a00037;
    border: 2px solid #a00037; */
}

#Item__submit:hover {
  background: #fff;
  color: #a00037;
  border: 2px solid #a00037;
  border-radius: 10px;

  /* background:#a00037;
    color:#fff;
    border:none; */

  transition: 800ms ease all;
}

.Login__Item__Under {
  flex-basis: 50%;
}

input:focus {
  outline: none;
}

a {
  color: black;
  text-decoration: none;
}
